# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Edu_Hub_Backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
